<div class="module-group2">
	<div class="container">
		<div class="container-inner">
			<div class="row">
				<div class="col col-md-8 col-sm-12 col-xs-12">
					<?php echo $this->getLayout()->createBlock('Plazathemes\Featureproductslider\Block\Featureproductslider')->setTemplate('featureproductslider.phtml')->toHtml();?>
				</div>
				<div class="col col-md-4 col-sm-12 col-xs-12">
					<?php echo $this->getLayout()->createBlock('Plazathemes\Bestsellerproduct\Block\Bestsellerproduct')->setTemplate('bestsellerproduct.phtml')->toHtml();?>
				</div>
				
			</div>
		</div>
	</div>
</div>