<?php
/**
 * Copyright © 2015 PlazaThemes.com. All rights reserved.

 * @author PlazaThemes Team <contact@plazathemes.com>
 */
if($this->getConfig('enable_frontend')):
	$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
	$image = 'new_products_content_widget_grid';
	$_productHelper = $this->helper('Magento\Catalog\Helper\Product');
	$block = $this->getBlockProduct();
 
	$auto = $this->getConfig('auto');
	if($auto)
		$auto = 'true';
	else
		$auto = 'false';
	$default = $this->getConfig('default');
	$desktop = $this->getConfig('desktop');
	$desktop_small = $this->getConfig('desktop_small');
	$tablet = $this->getConfig('tablet');
	$mobile = $this->getConfig('mobile');
	$qty = $this->getConfig('qty');
	$showCart = $this->getConfig('addtocart');;
	$showWishlist = $this->getConfig('wishlist');
	$showCompare = $this->getConfig('compare');
	$show_short_des = $this->getConfig('show_short_des'); 
	$rows = $this->getConfig('rows');
	$show_next_back = $this->getConfig('show_next_back');
	$pagination = $this->getConfig('pagination');
	$title = $this->getConfig('title');
	$des = $this->getConfig('des');
	if($this->getConfig('speed'))
		$speed = $this->getConfig('speed');
	else
		$speed = '3000';
	if($show_next_back)
		$show_next_back = 'true';
	else
		$show_next_back = 'false';
	$show_navigation_control = $this->getConfig('show_navigation_control');
	if($show_navigation_control)
		$show_navigation_control = 'true';
	else
		$show_navigation_control = 'false';
	
?>
<div class="pt-recentproduct-container module-nav2  ">
	 
		<?php if($title) { ?>
		<div class='group-title1'><?php 	echo '<h2>'.$title.'</h2>'; ?></div>
		<?php } ?>
		
		<div class="owl-container">
			<ul class="ptowl">
			<?php
			$i = 0;
			
			 foreach($this->getProducts() as $_product)
			{
			if($i%$rows == 0):
			?>
				<li class="item product">
			<?php
			endif;
					$productImage = $block->getImage($_product, $image);
					$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
					$myHelper = $this->helper('Plazathemes\Themeoptions\Helper\Data');
					if($_product->getRotaryImage() && $_product->getRotaryImage() != 'no_selection')
						$imageRotary = $myHelper->getMedia_Url().'catalog/product/'.$_product->getRotaryImage();
					else
						$imageRotary = '';
				?>
				<div class="item-inner">
					
					<div class="image-container">
						<a href="<?php echo $_product->getProductUrl() ?>" class="product-item-photo">
							<?php echo $productImage->toHtml() ?>
							<?php if($imageRotary): ?>
								<span class="image-rotate">
									<img src="<?php echo $imageRotary; ?>" alt="rotate image"/>
								</span>
							
							<?php endif; ?>
						</a>
						
						
					</div>
					<div class="des">
						<div class="product-name">
							<strong class="product-item-name">	
								<a href="<?php echo $_product->getProductUrl() ?>"><?php echo $_product->getName() ?></a>
							</strong>
						</div>
						<?php if ($templateType): ?>
							<?php echo $block->getReviewsSummaryHtml($_product, $templateType,true); ?>
						<?php endif; ?>
						<?php
							echo $block->getProductPrice($_product)
						?>
						<?php if($show_short_des): ?>
							<div class="short-description">
								<?php echo $this->getShortString($_product->getDescription()); ?>
							</div>
						<?php endif; ?>
						<div class="actions">
							<?php if($showCart) : ?>
							<div class="actions-primary">
								<?php if ($_product->isSaleable()): ?>
									<?php $postParams = $block->getAddToCartPostParams($_product); ?>
									<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
										<?php echo $block->getBlockHtml('formkey')?>
										<button type="submit"
												title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
												class="action tocart primary">
											<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
										</button>
									</form>
								<?php else: ?>
									<?php if ($_product->getIsSalable()): ?>
										<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
									<?php else: ?>
										<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
									<?php endif; ?>
								<?php endif; ?>
							</div>
							<?php endif; ?>
							<?php if($showWishlist || $showCompare ) : ?>
								<div data-role="add-to-links" class="add-to-links">
									<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
										<a href="#"
										   class="action towishlist"
										   title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
										   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
										   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
										   data-action="add-to-wishlist"
										   role="button">
											<span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
										</a>
									<?php endif; ?>
									<?php
									$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
									?>
									<a href="#"
									   class="action tocompare"
									   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
									   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
									   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
									   role="button">
										<span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span>
									</a>
								</div>
							<?php endif; ?>
						</div>
					</div>
				</div>
				
			<?php if($i%$rows == $rows - 1): ?>
				</li>
			<?php
			endif;
			$i++;
			}
			?>
			</ul>
		</div>
	 
</div>
<script type="text/javascript">
	require([
  "jquery",
  "owlcarousel/minjs"
 ], function($,owlCarousel){
		$(document).ready(function(){
			$(".pt-recentproduct-container .ptowl").owlCarousel({
				<?php
					if(($auto== 'true') && $speed):
				?>
				autoPlay : <?php echo $speed; ?>,
				<?php
					endif;
				?>
				items : <?php echo $default; ?>,
				itemsDesktop : [1199,<?php echo $desktop; ?>],
				itemsDesktopSmall : [991,<?php echo $desktop_small; ?>],
				itemsTablet: [767,<?php echo $tablet; ?>],
				itemsMobile : [479,<?php echo $mobile; ?>],
				slideSpeed : <?php echo $pagination; ?>,
				paginationSpeed : <?php echo $pagination; ?>,
				rewindSpeed : <?php echo $pagination; ?>,
				addClassActive: true,
				navigation : <?php echo $show_next_back; ?>,
				stopOnHover : true,
				pagination : <?php echo $show_navigation_control; ?>,
				addClassActive : true,
				scrollPerPage:false,
				afterAction: function(){
					$(".pt-recentproduct-container .owl-wrapper .owl-item").removeClass('first');
					$(".pt-recentproduct-container .owl-wrapper .owl-item").removeClass('last');
					$(".pt-recentproduct-container .owl-wrapper .owl-item").removeClass('before-active');
					$(".pt-recentproduct-container .owl-wrapper .owl-item.active:first").addClass('first');
					$(".pt-recentproduct-container .owl-wrapper .owl-item.active:last").addClass('last');
					$('.pt-recentproduct-container .owl-wrapper .owl-item.active:first').prev().addClass('before-active');
				}
			});
		});
	});
</script>
<?php
endif;
?>